.newsletter {
  background: rgba(55, 55, 172, 0.8);

  padding: 60px;
  border-radius: 15px;
}

.newsletter h2 {
  color: #fff;
}
.subscribe input {
  border: none;
  display: block;
  margin: auto;
  outline: none;
  padding: .75rem 1rem;
  border-radius: 4rem ;
  width: 50%;
}

.subscribe button {
  margin-top: 2rem;
}


/* .subscribe {
  padding: 7px 10px;
  background: #fff;
  width: 45%;
  margin: auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
