form {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}

form input, textarea {
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid slategrey;
  outline: none;
  padding: 1rem 0;
}

.wrapper {
  /* border: 1px solid slategrey; */
  box-shadow: 1px 1px 5px slategrey;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media screen and (max-width: 462px) {
  .wrapper {
  /* border: 1px solid slategrey; */
  box-shadow: 1px 1px 5px slategrey;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
}

.sub {
  margin: 1rem 0;
}

.sub button {
  border: none;
  background: #19489b;
  border-radius: 2rem;
  color: white;
  outline: none;
  padding: .7rem 1.5rem;
}

.sub button:hover {
  background: #153e85;
  color: #dbdbec;

}